/* Resets */
.table>tbody>tr,
.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th {
    vertical-align: middle;
}

/* Users */
.image_column div {
    display: block;
    margin: 0 auto;
}

.user_image {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-size: cover;
}

